<?xml version="1.0" encoding="utf-8" ?>
<settings version="1">
    <section id="service.scrobbler.mariadb">
        <category id="database" label="Database">
            <group id="1">
                <setting id="db_host">
                    <level>0</level>
                    <default>192.168.1.100</default>
                    <control type="edit" format="string">
                        <heading>Host IP</heading>
                    </control>
                </setting>
                <setting id="db_port">
                    <level>0</level>
                    <default>3306</default>
                    <control type="edit" format="integer">
                        <heading>Port</heading>
                    </control>
                </setting>
                <setting id="db_user">
                    <level>0</level>
                    <default>kodi_user</default>
                    <control type="edit" format="string">
                        <heading>Username</heading>
                    </control>
                </setting>
                <setting id="db_pass">
                    <level>0</level>
                    <default></default>
                    <control type="edit" format="string" option="hidden">
                        <heading>Password</heading>
                    </control>
                </setting>
                <setting id="db_name">
                    <level>0</level>
                    <default>kodi_scrobbler</default>
                    <control type="edit" format="string">
                        <heading>Database Name</heading>
                    </control>
                </setting>
            </group>
        </category>
        <category id="api" label="API Settings">
            <group id="2">
                <setting id="tmdb_api_key">
                    <level>0</level>
                    <default></default>
                    <control type="edit" format="string">
                        <heading>TMDB API Key</heading>
                    </control>
                </setting>
            </group>
        </category>
    </section>
</settings>
